@model Fullstack_Opdracht1.ViewModels.UserVM

@{
    ViewData["Title"] = "User Registration";
}

<h4>Register a new user</h4>
<div class="container">
    <div class="row">
        <div class="col-4">
            <form asp-controller="Register" asp-action="Register" method="post">
                <div class="form-group mb-2">
                    <label asp-for="Name" class="control-label">Name</label>
                    <input type="text" asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger small"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="FirstName" class="control-label">First Name</label>
                    <input type="text" asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger small"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="Age" class="control-label">Age</label>
                    <input type="text" asp-for="Age" class="form-control" />
                    <span asp-validation-for="Age" class="text-danger small"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="Email" class="control-label">E-mail Address</label>
                    <input type="text" asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger small"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="Country" class="control-label">Country</label>
                    <input type="text" asp-for="Country" class="form-control" />
                    <span asp-validation-for="Country" class="text-danger small"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="ZipCode" class="control-label">Zipcode</label>
                    <input type="text" asp-for="ZipCode" class="form-control" />
                    <span asp-validation-for="ZipCode" class="text-danger small"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MobilePhoneNumber" class="control-label">Mobile Phonenumber</label>
                    <input type="text" asp-for="MobilePhoneNumber" class="form-control" />
                    <span asp-validation-for="MobilePhoneNumber" class="text-danger small"></span>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-sm mt-2" />
                    <input type="reset" class="btn btn-secondary btn-sm mt-2 ml -2 "value="Reset" />
                </div>
                <hr class="mt-2 mb-2" />
                <div class="form-group">
                    <div asp-validation-summary="All" class="text-danger small"></div>
                </div>
            </form>
        </div>
    </div>
</div>
