@model Fullstack_Opdracht1.ViewModels.UserVM

@{
    ViewData["Title"] = "User Registration";
    Layout = "~/Views/Shared/_ViewsLayout.cshtml";
}

<h1>Index</h1>

<div>
    <h4>Register</h4>
    <form asp-controller="Register" asp-action="Register" method="post">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <label asp-for="name"></label>
                    <input type="text" asp-for="name"/>
                    <span asp-validation-for="name" class="error"></span>
                </div>
            </div>
        </div>
    </form>

</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
